.secondHeader {
   height: 150px;
   background: #F8F3F4;
   &-wrap {
      display: flex;
      justify-content: space-between;
      &-newArrivals {
         padding-top: 59px;
         & a {
            text-decoration: none;
            color: #F16D7F;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px;
            top: 50%;
         }
      }
      &-headerNav {
         padding-top: 65px;
         &-aNav {
            font-size: 16px;
            font-weight: 300;
            color: #636363;
            text-decoration: none;
            transition: color 0.2s;
            &:hover {
               color: #F16D7F;
               font-weight: 700;
            }
         }
         &-navCatalog {
            font-size: 18px;
            color: #F16D7F;
            font-weight: 700;
            text-decoration: none;
            padding-left: 2px;
            padding-right: 2px;
         }
      }
   } 
}
.filterHeader {
   display: flex;
   justify-content: center;
   margin-top: 51px;
   margin-bottom: 65px;
   text-align: left;
   transition: 0.2s;
   &-filterVector {
      align-items: flex-start;
      position: absolute;
      &-filterIcon {
         color: #000000;
         font-size: 14px;
         font-style: normal;
         font-weight: 600;
         line-height: 17px;
         letter-spacing: 0em;
         text-align: left;
         text-decoration: none;
         transition: color 0.2s;
         &:hover {
            color: #F16D7F;
         }
      }
   }
}
.filterHeader-filterLabel {
   text-align: center;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 17px;
   letter-spacing: 0em;
   color: #6F6E6E;
   &-filterSort {
      border: 1px solid #ffffff;
      color: #6F6E6E;
   }
}
.productMain {
   background-color: #F7F7F7;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   &-productGirl {
      justify-content: center;
      display: flex;
   }
}
.productText {
   align-items: center; 
   &-aroundBorder {
      height: 601px;
      border: 1px solid #EAEAEA;
      margin-bottom: 100px;
      &-womenCollection {
         display: flex;
         justify-content: center;
         font-size: 14px;
         font-style: normal;
         font-weight: 300;
         line-height: 17px;
         letter-spacing: 0em;
         text-align: left;
         color: #F16D7F;
         margin-top: 65px;
         margin-bottom: 12px;
      }
      &-womenBorder {
         border-bottom: 3px solid #EF5B70;
         width: 63px;
         margin-left: 47%;
         margin-bottom: 12px;
         padding-bottom: 12px;
      }
      &-mochino {
         display: flex;
         justify-content: center;
         font-size: 18px;
         font-style: normal;
         font-weight: 300;
         line-height: 22px;
         letter-spacing: 0em;
         text-align: left;
         margin-bottom: 49px;
         color: #4D4D4D;
      }
      &-productPrice {
         font-size: 24px;
         font-style: normal;
         font-weight: 300;
         line-height: 29px;
         letter-spacing: 0em;
         text-align: left;
         color: #F16D7F;
         display: flex;
         justify-content: center;
         margin-bottom: 130px;
      }
      &-productBig {
         display: flex;
         justify-content: center;
         text-align: center;
         margin-bottom: 33px;
         color: #5E5E5E;
         &-veryBig {
            width: 600px;
         }
      }
   }
}
.buttonBottom {
   margin-bottom: 194px;
}
.browseCart {
   padding-right: 23px;
   color: #F16D7F;
   text-align: center;
   margin-left: -50px;
}
.picsFromIndex {
   display: flex;
   justify-content: space-between;
   &-wrapper   {
      display: flex;
      justify-content: space-between;
      &-oneOfPics {
         width: 360px;
         display: flex;
         flex-wrap: wrap;
         background-color: #F8F8F8;
         margin-bottom: 30px;
         position: relative;
      }
   }
}
