.subHeader {
   display: flex;
   justify-content: space-between;
   height: 150px;
   background: #F8F3F4;
   &-newArrivals {
      text-align: center;
      & .link {
         text-decoration: none;
         color: #F16D7F;
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         line-height: 29px;
      }
   }
   
}