* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.icons {
  background-color: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1024px;
}

.leftHead {
  padding: 20px;
  width: 100px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightHead {
  padding: 17px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 20px;
}

.welcomePic {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 764px;
}

.mainText {
  background-color: #F1E4E6;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-top: 290px;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 80px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  padding-top: 10px;
  width: 50%;
}

.manPic {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

.brand {
  font-weight: 900;
  font-size: 48px;
}

.fashion {
  color: #F16D7F;
}

.threeHundredBucks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
}

.women {
  width: 360px;
  height: 260px;
  margin-left: 15px;
  margin-right: 15px;
  background: #211616B2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.accesories {
  margin-top: 30px;
  width: 1140px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.picText {
  position: relative;
  margin-top: -150px;
  margin-left: 130px;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 400;
}

.women:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.whiteWomen {
  margin-left: 19px;
}

.forWomen {
  font-weight: 700;
  color: #F16D7F;
  font-size: 24px;
  margin-left: -19px;
}

.forKids {
  margin-left: 5px;
  font-weight: 700;
  color: #F16D7F;
  font-size: 24px;
}

.accText {
  position: relative;
  margin-top: -112px;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 400;
  text-align: center;
}

.pinkAcc {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  margin-left: 6px;
}

.accesories:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sixPicsHeader {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 190px;
  text-align: center;
}

.featured {
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}

.based {
  top: 6px;
  font-weight: 400;
  font-size: 14px;
  color: #9F9F9F;
}

.oneOfPics {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.sixPics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.mainPic {
  height: 420px;
  display: block;
  text-decoration: none;
}

.txtBox {
  background: #F8F8F8;
  text-align: left;
  height: 161px;
  margin-top: -5px;
  text-decoration: none;
}

.picHeader {
  margin-top: 26px;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 13px;
  color: #000000;
  margin-left: 18px;
}

.picContent {
  font-weight: 300;
  font-size: 14px;
  color: #5D5D5D;
  margin-bottom: 18px;
  margin-left: 18px;
  margin-right: 28px;
}

.price {
  color: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.addHover {
  display: none;
  position: absolute;
  top: 180px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.decHoverHref {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 138px;
  height: 43px;
}

.toCartHover {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-left: 11px;
}

.addCartHover {
  padding-left: 13px;
  height: 24px;
  width: 26px;
}

.item:hover .purchase {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.addHover:hover {
  -webkit-box-shadow: 0 0 20px #F16D7F;
          box-shadow: 0 0 20px #F16D7F;
}

.item:hover .addHover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.purchase {
  width: 360px;
  height: 420px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttonBottom {
  border: 1px solid #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 211px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F26376;
  padding: 15px 39px 14px 39px;
  margin-top: 49px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttonBottom:hover {
  background: #F26376;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.secondHeader {
  height: 150px;
  background: #F8F3F4;
}

.secondHeader-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondHeader-wrap-newArrivals {
  padding-top: 59px;
}

.secondHeader-wrap-newArrivals a {
  text-decoration: none;
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  top: 50%;
}

.secondHeader-wrap-headerNav {
  padding-top: 65px;
}

.secondHeader-wrap-headerNav-aNav {
  font-size: 16px;
  font-weight: 300;
  color: #636363;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.secondHeader-wrap-headerNav-aNav:hover {
  color: #F16D7F;
  font-weight: 700;
}

.secondHeader-wrap-headerNav-navCatalog {
  font-size: 18px;
  color: #F16D7F;
  font-weight: 700;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

.filterHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 51px;
  margin-bottom: 65px;
  text-align: left;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.filterHeader-filterVector {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
}

.filterHeader-filterVector-filterIcon {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.filterHeader-filterVector-filterIcon:hover {
  color: #F16D7F;
}

.filterHeader-filterLabel {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #6F6E6E;
}

.filterHeader-filterLabel-filterSort {
  border: 1px solid #ffffff;
  color: #6F6E6E;
}

.productMain {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.productMain-productGirl {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productText {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productText-aroundBorder {
  height: 601px;
  border: 1px solid #EAEAEA;
  margin-bottom: 100px;
}

.productText-aroundBorder-womenCollection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
  margin-top: 65px;
  margin-bottom: 12px;
}

.productText-aroundBorder-womenBorder {
  border-bottom: 3px solid #EF5B70;
  width: 63px;
  margin-left: 47%;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.productText-aroundBorder-mochino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 49px;
  color: #4D4D4D;
}

.productText-aroundBorder-productPrice {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 130px;
}

.productText-aroundBorder-productBig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 33px;
  color: #5E5E5E;
}

.productText-aroundBorder-productBig-veryBig {
  width: 600px;
}

.buttonBottom {
  margin-bottom: 194px;
}

.browseCart {
  padding-right: 23px;
  color: #F16D7F;
  text-align: center;
  margin-left: -50px;
}

.picsFromIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.picsFromIndex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.picsFromIndex-wrapper-oneOfPics {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.privileges {
  background-color: #222224;
  margin-top: 96px;
}

.idk {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pros {
  width: 360px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 104px;
  padding-bottom: 104px;
}

.prosHead {
  font-weight: 400;
  font-size: 20px;
  color: #FBFBFB;
  margin-top: 16px;
  margin-bottom: 16px;
}

.prosText {
  font-weight: 300;
  font-size: 14px;
  color: #FBFBFB;
}

.prosIconBig {
  margin-top: -8px;
}

.beach {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  opacity: 0.5;
  -webkit-filter: brightness(300%);
          filter: brightness(300%);
}

summary {
  width: 32px;
  height: 23px;
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  width: 32px;
  height: 23px;
}

details {
  float: right;
  margin-top: 4px;
  position: relative;
}

.menu {
  background: #FFFFFF;
  -webkit-box-shadow: -5px 5px 28px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -5px 5px 28px 0px rgba(0, 0, 0, 0.4);
  margin-top: 22px;
  width: 232px;
  height: 764px;
  position: absolute;
}

.minuMenu {
  text-decoration: none;
  font-family: Lato, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #6F6E6E;
  padding-left: 55px;
}

.minuMenu:hover {
  color: #F16D7F;
  font-size: 17px;
}

.h4Menu {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 37px;
  padding-left: 34px;
}

.h4Man {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 33px;
}

.facePic {
  text-align: center;
  margin: 88px 0 0 0;
}

.faceText {
  width: 360px;
  padding-top: 30px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.faceSpan {
  font-style: italic;
}

.faceFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basement {
  background: url(../../imgs/footerPic.png) no-repeat center/cover;
  height: 448px;
}

.subText {
  text-align: center;
  margin-top: 155px;
  color: #222224;
  padding-bottom: 27px;
}

.subHeader {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.subFooter {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.enterMail {
  background-color: #E1E1E1;
  width: 256px;
  border: 0px;
  height: 49px;
  left: 917px;
  top: 243px;
  border-radius: 50px 0 0 50px;
  padding-left: 22px;
}

.subButton {
  height: 49px;
  width: 100px;
  left: 1173px;
  top: 243px;
  border-radius: 0 50px 50px 0;
  margin-left: -5px;
  border: 0px;
  background: #F16D7F;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.subButton:hover {
  -webkit-box-shadow: 0 0 20px #F16D7F;
          box-shadow: 0 0 20px #F16D7F;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.rights {
  height: 19px;
  width: 332px;
  left: 235px;
  top: 2851px;
  font-size: 16px;
  font-weight: 400;
  color: #FBFBFB;
}

.lastFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222224;
}

.lastFooter-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mediaLinks {
  padding-left: 7px;
}

.mediaWay {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mediaWay:hover {
  background: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */