* {
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
}
.icons {
   background-color: #222222;
}
.container {
   width: 1140px;
   margin: 0 auto;
}
.logos {
   display: flex;
   justify-content: space-between;
   width: 1024px;
}
.leftHead {
   padding: 20px;
   width: 100px;
   height: 20px;
   display: flex;
   justify-content: space-between;
   position: relative;
   align-items: center;
}
.rightHead {
   padding: 17px;
   width: 200px;
   display: flex;
   justify-content: space-between;
   align-content: center;
   height: 20px;
}
.welcomePic {
   background-color: #F1E4E6;
   display: flex;
   justify-content: center;
   height: 764px;
}
.mainText {
   background-color: #F1E4E6;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   margin-top: 290px;
   align-content: center;
   height: 80px;
   border-left: 12px solid #F16D7F;
   padding-left: 16px;
   padding-top: 10px;
   width: 50%;
}
.manPic {
   justify-content: center;
   margin-left: auto;
}
.brand {
   font-weight: 900;
   font-size: 48px;

}
.fashion {
   color: #F16D7F;
}
.threeHundredBucks {
   display: flex;
   justify-content: center;
   margin-top: 65px;
}
.women {
   width: 360px;
   height: 260px;
   margin-left: 15px;
   margin-right: 15px;
   background: #211616B2;
   transition: 0.5s;
}
.accesories {
   margin-top: 30px; 
   width: 1140px;
   transition: 0.5s;
}
.picText {
   position: relative;
   margin-top: -150px;
   margin-left: 130px;
   color: white;
   align-content: center;
   font-size: 400;
}
.women:hover {
   opacity: 0.8;
   transform: scale(1.1);
}
.whiteWomen {
   margin-left: 19px;
}
.forWomen {
   font-weight: 700;
   color: #F16D7F;
   font-size: 24px;
   margin-left: -19px;
}
.forKids {
   margin-left: 5px;
   font-weight: 700;
   color: #F16D7F;
   font-size: 24px;
}
.accText {
   position: relative;
   margin-top: -112px;
   color: white;
   align-content: center;
   font-size: 400;
   text-align: center;
}
.pinkAcc {
   color: #F16D7F;
   font-size: 24px;
   font-weight: 700;
   margin-left: 6px;
}
.accesories:hover{
   opacity: 0.8;
   transform: scale(1.1);
}
.sixPicsHeader {
   justify-content: center;
   margin-top: 190px;
   text-align: center;
}
.featured {
   font-weight: 400;
   font-size: 30px;
   color: #222222;
}
.based {
   top: 6px;
   font-weight: 400;
   font-size: 14px;
   color: #9F9F9F;
}
.oneOfPics {
   width: 360px;
   display: flex;
   flex-wrap: wrap;
   background-color: #F8F8F8;
   margin-bottom: 30px;
   position: relative;
}
.sixPics {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 50px;
}

.mainPic {    
   height: 420px;
   display: block;
   text-decoration: none;
}
.txtBox {
   background: #F8F8F8;
   text-align: left;
   height: 161px;
   margin-top: -5px;   
   text-decoration: none;
}
.picHeader {
   margin-top: 26px;
   font-weight: 400;
   font-size: 13px;
   margin-bottom: 13px;
   color: #000000;
   margin-left: 18px;
}
.picContent {
   font-weight: 300;
   font-size: 14px;
   color: #5D5D5D;
   margin-bottom: 18px;
   margin-left: 18px;
   margin-right: 28px;
}
.price {
   color: #F16D7F;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 20px;
   margin-left: 18px;
}
.addHover {
   display: none;
   position: absolute;
   top: 180px;
   width: 100%;
   justify-content: center;
   pointer-events: none;
}
.decHoverHref {
   text-decoration: none;
   display: flex;
   border: 1px solid #FFFFFF;
   align-items: center;
   width: 138px;
   height: 43px;
}
.toCartHover {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   padding-left: 11px;
}
.addCartHover {
   padding-left: 13px;
   height: 24px;
   width: 26px;
}
.item:hover .purchase {
   filter: brightness(30%);
   transition: 0.5s;
}
.addHover:hover {
   box-shadow: 0 0 20px #F16D7F;
}
.item:hover .addHover {
   display: flex;
}
.purchase {
   width: 360px;
   height: 420px;
   opacity: 1;
   transition: 0.3s;
}
.buttonBottom {
   border: 1px solid #F26376;
   display: flex;
   background-color: #FFFFFF;
   justify-content: center;
   width: 211px;
   align-items: center;
   color: #F26376;
   padding: 15px 39px 14px 39px;
   margin-top: 49px;
   text-decoration: none;
   transition: 0.3s;
}
.buttonBottom:hover {
   background: #F26376;
   color: #FFFFFF;
   transition: 0.3s;
   text-decoration: none;
}

@import "_catalogStyle.scss";

.privileges {
   background-color: #222224;
   margin-top: 96px;
}
.idk {
   width: 1200px;
   display: flex;
}
.pros {
   width: 360px;
   text-align: center;
   justify-content: space-between;
   padding-top: 104px;
   padding-bottom: 104px;
}
.prosHead {
   font-weight: 400;
   font-size: 20px;
   color: #FBFBFB;
   margin-top: 16px;
   margin-bottom: 16px;
}
.prosText {
   font-weight: 300;
   font-size: 14px;
   color: #FBFBFB;
}
.prosIconBig {
   margin-top: -8px;
}
.beach {
   width: 100%;
   height: 450px;
   margin: 0 auto;
   opacity: 0.5;
   filter: brightness(300%);
}
summary {
   width: 32px;
   height: 23px;
   display: block;
}
summary::-webkit-details-marker {
   display: none;
}
summary::after {
   width: 32px;
   height: 23px;
}
details {
   float: right;
   margin-top: 4px;
   position: relative;
}
.menu {
   background: #FFFFFF;
   -webkit-box-shadow: -5px 5px 28px 0px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: -5px 5px 28px 0px rgba(0, 0, 0, 0.4);
   box-shadow: -5px 5px 28px 0px rgba(0, 0, 0, 0.4);
   margin-top: 22px;
   width: 232px;
   height: 764px;
   position: absolute;
}
.minuMenu {
   text-decoration: none;
   font-family: Lato, Helvetica, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #6F6E6E;
   padding-left: 55px;
}
.minuMenu:hover {
   color: #F16D7F;
   font-size: 17px;
}
.h4Menu {
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   padding-top: 37px;
   padding-left: 34px;
}
.h4Man {
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: #F16D7F;
   padding-top: 20px;
   padding-bottom: 12px;
   padding-left: 33px;
}
.facePic {
   text-align: center;
   margin: 88px 0 0 0;
}
.faceText {
   width: 360px;
   padding-top: 30px;
   font-weight: normal;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   color: #222224;
}
.faceSpan {
   font-style: italic;
}
.faceFooter {
   display: flex;
   justify-content: space-between; 
}
.basement {
   background: url(../../imgs/footerPic.png) no-repeat center / cover;
   height: 448px;
}
.subText {
   text-align: center;
   margin-top: 155px;
   color: #222224;
   padding-bottom: 27px;
}
.subHeader {
   font-size: 24px;
   font-weight: 700;
   line-height: 28px;
   text-transform: uppercase;
}
.subFooter {
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
}
.enterMail {
   background-color: #E1E1E1;
   width: 256px;
   border: 0px;
   height: 49px;
   left: 917px;
   top: 243px;
   border-radius: 50px 0 0 50px;
   padding-left: 22px;
}
.subButton {
   height: 49px;
   width: 100px;
   left: 1173px;
   top: 243px;
   border-radius: 0 50px 50px 0;
   margin-left: -5px;
   border: 0px;
   background: #F16D7F;
   color: #FFFFFF;
   transition: 0.5s;
}
.subButton:hover {
   box-shadow: 0 0 20px #F16D7F;
   padding: 10px;
   transition: 0.5s;
}
.rights {
   height: 19px;
   width: 332px;
   left: 235px;
   top: 2851px;
   font-size: 16px;
   font-weight: 400;
   color: #FBFBFB;
}
.lastFooter {
   display: flex;
   height: 79px;
   align-items: center;
   background-color: #222224;
   &-end {
      display: flex;
      justify-content: space-between;
   }
}
.mediaLinks {
   padding-left: 7px;
}
.mediaWay {
   width: 32px;
   height: 32px;
   background: #FFFFFF;
   border: 32px;
   transition: 0.3s;
}
.mediaWay:hover {
   background: #F16D7F;
   transition: 0.3s;
}